@import "tailwindcss";

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer utilities {
  .scrollbar-custom {
    /* Firefox */
    scrollbar-width: auto;
    scrollbar-color: #555555 #1f1f1f;
  }

  /* Chrome, Edge, Safari */
  .scrollbar-custom::-webkit-scrollbar {
    width: 20px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #1a1a1a;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #f0f0f0;
    border-radius: 0;
    border: 0;
  }
}
